@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-title: 'Montserrat', sans-serif;
    --font-body: 'Nunito', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
  }
  
  body {
    font-family: var(--font-body);
  }
}

/* Hiệu ứng mượt mà */
