# src/main/resources/application.yml
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce_db?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456789
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: your-very-secure-secret-key-12345678901234567890
  expiration: 86400000  
logging:
  level:
    org.springframework.security: TRACE
    com.ecommerce.backend: DEBUG
    org.springframework.web: DEBUG
    org.springframework.web.filter: TRACE